**/.DS_Store
_site/
.jekyll-cache/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ajosephau.github.io.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
